@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blog-c-text-1: #111111;
    --blog-c-text-3: #333333;
    --blog-c-text-6: #666666;
    --blog-c-text-9: #999999;
  }
}

@layer components {
  .text-underline {
    @apply underline underline-offset-4 transition-all;
  }

  .border-one {
    @apply rounded border border-solid border-gray-300 text-primaryThree hover:bg-red-400 hover:text-white;
  }
  .border-test {
    @apply rounded border border-solid border-gray-300;
  }
}
